---
name: Test

on: [
  push,
  pull_request
]

jobs:
  test:
    name: Workflow Testing
    runs-on: ubuntu-20.04
    steps:
      - name: TEST STEP 1
        run: |
          echo "${{ github.event.pull_request.head.repo.full_name }}"
          echo "${{ github.repository }}"

      - name: TEST STEP 2
        if: github.event.pull_request.head.repo.full_name == github.repository
        run: |
          echo "${{ github.event.pull_request.head.repo.full_name }}"
          echo "${{ github.repository }}"
